body{
    font-family: sans-serif;
    background-color: #C5C1C0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 900px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
.banner{
   max-width: 850px;
   display: block;
   margin: 0 auto;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prato-principal{
    width: 850px;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: grid;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding-bottom: 35px;
}

.title-principal{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}

.desc-pratos{
    padding: 8px;

}

.card-pratos{
    display: flex;
    /* space-between formato cards */
    justify-content: space-between; 
}


.card{
    background: #fff;
    padding: 25px 14px;
    width: 150px;
    border: 2px solid #cccbcb;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    margin: 0 auto;

}

.card img{
    width: 100%;
}

.card p{
    font-size: 15px;
    font-weight: 700;
}

.valor{
    color: green;
    font-weight: bolder;
}

.acompanhamentos{
    width: 850px;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: grid;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.title-acomp{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.desc-acomp{
    padding: 8px;
}

.card-acomps{
    display: flex;
    justify-content: space-between;
}

.form{
    width: 850px;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: grid;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
}

.title-form{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

input{
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1em;
     
}

input:focus{
    background: #E8F0FD;
    outline: none;
    /* outline tira a borda do input quando clica */
}

button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin: 0 auto;
    margin-top: 20px;
    background: #0069D9;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-size: medium;
}

.quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quantity .input-text.qty{
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
}

.quantity.buttons_added{
    text-align: center;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity .minus,
.quantity .plus{
    padding: 5px 5px 5px;
    background-color: #FFFFFF;
    border: 1px solid #efefef;
    border-radius: 9px;
    cursor: pointer;
}

.quantity .minus:hover,
.quantity .plus:hover{
    background-color: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}